{
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "ecmascript": 6
  },
  "ecmaFeatures": {
    "jsx": true,
    "blockBindings": true,
    "defaultParams": true,
    "forOf": true,
    "objectLiteralComputedProperties": true,
    "objectLiteralShorthandMethods": true,
    "objectLiteralShorthandProperties": true,
    "templateStrings": true
  },
  "rules": {
    "brace-style": [2, "1tbs", { "allowSingleLine": true}],
    "camelcase": 2,
    "comma-style": [2, "last"],
    "consistent-this": [2, "self"],
    "eol-last": [2, true],
    "new-cap": 0,
    "no-extra-semi": [2, true],
    "no-lonely-if": [2, true],
    "no-underscore-dangle": false,
    "no-space-before-semi": [2, true],
    "no-spaced-func": 2,
    "quotes": [2, "single"],
    "semi": [2, "always"],
    "space-after-function-name": [2, "never"],
    "space-after-keywords": [2, "always"],
    "space-before-blocks": [2, "always"]
  }
}
